*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins,sans-serif;
}

body{
    background:#eef5ff;
}

.prediction-container{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#ffffff,#dcecff);
    padding:30px;
}

.prediction-card{
    width:700px;
    background:#fff;
    border-radius:20px;
    padding:35px;
    box-shadow:0 10px 30px rgba(0,0,0,.15);
}

.prediction-card h2{
    text-align:center;
    color:#0d6efd;
    margin-bottom:30px;
}

.form-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:15px;
}

input,select{
    padding:14px;
    border:1px solid #d4d4d4;
    border-radius:10px;
    font-size:15px;
    outline:none;
}

input:focus,
select:focus{
    border:2px solid #0d6efd;
}

button{
    width:100%;
    margin-top:25px;
    padding:15px;
    background:#0d6efd;
    color:white;
    border:none;
    border-radius:10px;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#0056d2;
}

@media(max-width:768px){
    .prediction-card{
        width:100%;
    }

    .form-grid{
        grid-template-columns:1fr;
    }
}